@import "normalize.css";

.mainContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Header Navigation */

ul {
  display: flex;
  justify-content: space-around;
  height: 70px;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.navBar__number {
  display: flex;
  background: #F3323D;
  border-radius: 91px;
  height: 40px;
  width: 160px;
  align-items: center;
  justify-content: center;
  color: white;
  line-height: 17px;
}

a {
  text-decoration: none;
  color: black;
}

/* Background Image and Main Headline */
.headline {
  position: relative;
  background-image: url("../images/mom_daughter.png");
  width: 110%;
  height: 525px;
  background-repeat: no-repeat;
}

.content__headline {
  position: absolute;
  top: 50%;
  right: 5%;
  width: 35%;
  transform: translateY(-50%);
}

.headline__text {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 55px;
  line-height: 57px;
}

.subtext__headline {
  font-family: Open Sans;
  font-size: 20px;
  line-height: 23px;
}

/* Location Edit Link and Icon */
.location__edit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.location__edit>p,
.location__edit>a {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
  padding-right: 5px;
  padding-left: 5px;
}

.location__edit>a {
  color: #F3323D;
}

/* All Plans and Pricing */
.plan_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 1050px;
  height: auto;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.0843524);
  border-radius: 4px;
  margin-top: -100px;
  z-index: 1;
}

.plan_pricing {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.0843524);
  border-radius: 4px;
  width: 245px;
  height: 410px;
}

.all__plans {
  display: flex;
  justify-content: space-evenly;
}

.p_name {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
}

.p_feat {
  font-family: Arial;
  font-size: 15px;
  line-height: 24px;
}

.per_month {
  position: absolute;
  font-family: Montserrat;
  font-size: 8px;
  line-height: 8px;
  width: 40px;
  text-align: left;
  top: 20px;
  left: 185px;
}

.zeros {
  position: absolute;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 20px;
  top: -10px;
  left: 185px;
}

.price {
  position: absolute;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: -4px;
  top: -90px;
  left: 65px;
}

.dollar_sign {
  position: absolute;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  top: -15px;
  left: 35px;
}

.pr_variable {
  position: relative;
  height: 90px;
}

.image_product {
  margin-top: 30px;
}

.p__feat--ind {
  margin-top: 15px;
}

.p_feat {
  margin: 0;
  color: #5A5A5A;
}

.p_dash {
  margin: 0;
  color: #5A5A5A;
  font-size: 15px;
  line-height: 24px;
}

/* Second Headline and Start Your Order Link */

.sec_headline {
  display: flex;
  float: left;
  width: 1050px;
  height: 90px;
  height: auto;
}


.start_button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 18px;
  background: linear-gradient(180deg, #F3323D 0.36%, #D62A33 100%);
  border-radius: 100px;
  width: 327px;
  height: 55px;
}

.cart_text {
  display: flex;
  font-family: Open Sans;
  font-size: 20px;
  line-height: 23px;
  color: #5A5A5A;
  text-align: left;
  margin-left: 145px;
}

.cart_icon {
  display: block;
  width: 90px;
  height: 90px;
  margin: 60px 30px 50px 25px;
}

.cart_headline {
  width: 362px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  margin-left: 145px;
}









/* Bottom Additional Links */

.bottom_links_container {
  display: flex;
  justify-content: space-around;
  font-family: Montserrat;
  text-align: center;
  width: 1050px;
}
.heading_b {
  font-weight: bolder;
  font-size: 18px;
  line-height: 18px;
}

.link_b {
  display: block;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 30px;
  color: #D62A33;
}



/* Footer */
footer {
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  line-height: 14px;
  color: #5A5A5A;
}